[submodule "Price-Feeds/lib/forge-std"]
	path = Price-Feeds/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Price-Feeds/lib/openzeppelin-foundry-upgrades"]
	path = Price-Feeds/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
